/* Desktop CSS for Jonathan */

div.logo {
	width: 100px;
	height: 100px;
}

input#textInput {
	width: 40%;
	left: 30%;
	bottom: 10px;
}

div.cardContainer {
	position: absolute;
	width: 60%;
	height: 100%;
	left: 20%;
	bottom: 0px;
	padding-top: 100px;
	/*padding: 40px;*/
}