/* Mobile CSS for Jonathan */

@viewport {
	orientation: portrait;
}

div.logo {
	width: 20%;
	height: 20%;
}

input#textInput {
	width: 90%;
	left: 2%;
	bottom: 5px;
}

div.cardContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	padding-top: 100px;
}